# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environment
venv/
env/
ENV/

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environment variables / secrets
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db